name: K6 Load Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  windows-job:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step to install K6 using Chocolatey package manager for Windows
      - name: Install K6 (Windows)
        run: |
          choco install k6 # Installs K6 using Chocolatey

      # Step to run all tests with the .bat file
      - name: Run all tests (Windows)
        run: |
          .\run_all_tests.bat  # Executes all tests with the .bat file

      # Step to combine the generated reports
      - name: Combine test reports (Windows)
        run: |
          .\combined_report.bat  # Combines all generated reports

      # Step to upload the reports folder as artifact
      - name: Upload the reports as artifact
        uses: actions/upload-artifact@v4
        with:
          name: all-reports
          path: reports/*.html  # Uploads all HTML reports in the 'reports' folder
